.homeVote {
    position: absolute;
    top: 3vh;
    left: 50vw;
    width: 100vw;
    height: 97vh;
    padding-left:15vw;
    padding-right:15vw;
    padding-top: 2vh;
    
    overflow: hidden;
    transform: translate(-50%, 0%)
    
}

body {  
    background: #1D1F20;
    
  }
 